{:vars
 {name {:env USERNAME, :arg name, :default "World"}}
 :system
 {:duct.logger.simple/stdout {}
  :test-project/hello {:logger #ig/ref :duct/logger
                       :name   #ig/var name}}}
