{:vars
 {name {:env USERNAME, :arg name, :default "World"}}
 :system
 {:duct.module/logging {}
  :duct.module/sql {}
  :duct.module/web
  {:features #{:site}
   :handler-opts {:db #ig/ref :duct.database/sql}
   :routes [["/" {:get :test-project/hello}]]}

  :test-project/hello {:name #ig/var name}}}
