{:vars
 {name {:env USERNAME, :arg name, :default "World"}}
 :system
 {:duct.module/logging {}
  :duct.module/sql {}
  :duct.module/web
  {:features #{:site}
   :routes [["/" {:get #ig/ref :test-project/hello}]]}

  :test-project/hello
  {:db   #ig/ref :duct.database/sql
   :name #ig/var name}}}
